<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home</title>

	<link rel="stylesheet" href="dist/css/pages/common.css">
	<link rel="stylesheet" href="dist/bootstrap/bootstrap.min.css">

	<!-- login-registration template css -->
	<link rel="stylesheet" href="dist/css/pages/small.css">
	<link rel="stylesheet" href="dist/css/pages/medium.css">
	<link rel="stylesheet" href="dist/css/pages/large.css">
	<link rel="stylesheet" href="dist/css/pages/xx-large.css">

	<!-- session template css -->
	<link rel="stylesheet" href="dist/css/pages/sm-session.css">
	<link rel="stylesheet" href="dist/css/pages/session.css">

	<link rel="stylesheet" href="dist/css/pages/home.css">


</head>

<body>
	
	<script src="bundle.js"></script>
</body>

</html>