<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home</title>

	<link rel="stylesheet" href="dist/css/pages/common.css">
	<link rel="stylesheet" href="dist/bootstrap/bootstrap.min.css">

	<!-- login-registration template css -->
	<link rel="stylesheet" href="dist/css/pages/small.css">
	<link rel="stylesheet" href="dist/css/pages/medium.css">
	<link rel="stylesheet" href="dist/css/pages/large.css">
	<link rel="stylesheet" href="dist/css/pages/xx-large.css">

	<!-- session template css -->
	<link rel="stylesheet" href="dist/css/pages/sm-session.css">
	<link rel="stylesheet" href="dist/css/pages/session.css">

	<link rel="stylesheet" href="dist/css/pages/home.css">


</head>

<body>
	<main>

		<nav class="nav-bar">

			<div class="status session-status">
				Invalid operation
			</div>

			<div class="settings clearfix">
				<a id="" href="#"><span class="glyphicon glyphicon-cog"></span> Settings </a>
				<ul class="profile hidden">
					<li>Profile</li>
					<li>Log out</li>
				</ul>
				<ul class="profile-detail hidden">
					<li>Username: <input type="text" name="" id="" value="oladimillion" readonly></li>
					<li>Email: <input type="text" name="" id="" value="oladimillion@d.com" readonly></li>
					<li>Password: <input type="password" name="" id="" value="**********" readonly></li>
				</ul>
			</div>

		</nav>
		<!-- end of navigation bar -->

		<section class="session-list-control">

			<div class="box">

				<div class="search-session">
					<input type="text" placeholder="Search for session">
					<span class="glyphicon glyphicon-search"></span>
				</div>

				<div class="create-session">
					<input type="text" placeholder="Create new session">
					<span class="glyphicon glyphicon-file"></span>
				</div>

				<div class="navigate-session">

					<div class="navigate-session-box">
						<span class="glyphicon glyphicon-arrow-left"></span>
						<span class="session-count">1-10 of 20</span>
						<span class="glyphicon glyphicon-arrow-right"></span>
					</div>

				</div>

			</div>

		</section>

		<section class="session-list">
			<ul>
				<li>
					<span class="title">foreach function</span>
					<span class="time">12-11-2016 12:30 am</span>
				</li>
				<li>
					<span class="title">foreach function</span>
					<span class="time">12-11-2016 </span>
				</li>
				<li>
					<span class="title">foreach function</span>
					<span class="time">12-11-2016</span>
				</li>
				<li>
					<span class="title">foreach functionforeach functionforeach function</span>
					<span class="time">12-11-2016</span>
				</li>
				<li>
					<span class="title">foreach function</span>
					<span class="time">12-11-2016</span>
				</li>
				<li>
					<span class="title">foreach function</span>
					<span class="time">12-11-2016 </span>
				</li>
				<li>
					<span class="title">foreach function</span>
					<span class="time">12-11-2016</span>
				</li>
				<li>
					<span class="title">foreach functionforeach functionforeach function</span>
					<span class="time">12-11-2016</span>
				</li>
				<li>
					<span class="title">foreach function</span>
					<span class="time">12-11-2016</span></li>
				<li>
					<span class="title">foreach function</span>
					<span class="time">12-11-2016</span></li>
			</ul>

		</section>

	</main>
	<script src="bundle.js"></script>
</body>

</html>