<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Session</title>
	<link rel="stylesheet" href="dist/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" media="only screen and (min-width: 320px) and (max-width: 600px)" href="dist/css/small.css">
	<link rel="stylesheet" media="only screen and (min-width: 601px) and (max-width: 900px)" href="dist/css/medium.css">
	<link rel="stylesheet" media="only screen and (min-width: 901px) and (max-width: 1200px)" href="dist/css/large.css">
	<link rel="stylesheet" media="only screen and (min-width: 1201px)" href="dist/css/xx-large.css">
	<link rel="stylesheet" href="dist/css/session.css">

	<link rel="stylesheet" href="dist/js/editor/lib/codemirror.css">
	<link rel="stylesheet" href="dist/js/editor/lib/foldgutter.css">
	<link rel="stylesheet" href="dist/js/editor/lib/dialog.css">
	<link rel="stylesheet" href="dist/js/editor/lib/monokai.css">
	<link rel="stylesheet" href="dist/js/editor/lib/codemirror.css">



	<style type="text/css">
		.CodeMirror {
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
			border-radius: 0;
			line-height: 1.3;
			width: 100%;
			height: inherit;
			background-color: #ffffff;
		}

		.CodeMirror-linenumbers {
			padding: 0;
		}

		#editor {
			display: none;
		}
	</style>

</head>

<body>
	<main>
		<nav class="nav-bar">

			<div class="settings">
				<a id="username" href="#">oladimillion <span class="glyphicon glyphicon-menu-down"></span></a>
			</div>

		</nav>
		<!-- end of navigation bar -->


		<aside class="editor-session">

			<div class="control">

				<div class="control-btn">

					<button>Save  <span class="glyphicon glyphicon-floppy-disk"></span></button>

					<button>Run  <span class="glyphicon glyphicon-play"></span></button>

					<button>Chat  <span class="glyphicon glyphicon-user"></span></button>

				</div>
				<!-- end of control-btn -->

			</div>
			<!-- end of control -->


			<textarea id="editor" name="editor" data-editor="markdown"></textarea>

		</aside>
		<!-- end of editor-session -->

		<aside class="chat-session">

			<div class="chat-box hidden">

				<div class="scroll">

					<div class="chat friend">
						<span class="username">oladimillion</span>
						<span class="message">Nice one bro</span>
						<span class="time">7:30am</span>
					</div>

					<div class="chat self">
						<span class="username">tunjasko</span>
						<span class="message">thanks</span>
						<span class="time">7:30am</span>
					</div>

					<div class="chat friend">
						<span class="username">oladimillion</span>
						<span class="message">Nice one bro</span>
						<span class="time">7:30am</span>
					</div>

					<div class="chat self">
						<span class="username">tunjasko</span>
						<span class="message">thanks  "Shift-Tab": "indentLess",
							"Esc": "singleSelectionTop",
							"Ctrl-L": "selectLine",
							"Shift-Ctrl-K": "deleteLine",
							"Ctrl-Enter": "insertLineAfter",
							"Shift-Ctrl-Enter": "insertLineBefore",
							"Ctrl-D": "selectNextOccurrence",
							"Shift-Ctrl-Space": "selectScope",
							"Shift-Ctrl-M": "selectBetweenBrackets",
							"Ctrl-M": "goToBracket",
							"Shift-Ctrl-Up": "swapLineUp",
							"Shift-Ctrl-Down": "swapLineDown",
							"Ctrl-/": "toggleCommentIndented"</span>
						<span class="time">7:30am</span>
					</div>


					<div class="chat friend">
						<span class="username">oladimillion</span>
						<span class="message">Nice one broborder-top: 15px solid transparent;
							border-bottom: 15px solid transparent;
							border-top: -15px;
							box-shadow: 0px 0px 10px -8px #98B6C8;</span>
						<span class="time">7:30am</span>
					</div>

					<div class="chat friend">
						<span class="username">oladimillion</span>
						<span class="message">Nice one broborder-top: 15px solid transparent;
							border-bottom: 15px solid transparent;
							border-top: -15px;
							box-shadow: 0px 0px 10px -8px #98B6C8;</span>
						<span class="time">7:30am</span>
					</div>

					<div class="chat self">
						<span class="username">tunjasko</span>
						<span class="message">thanks</span>
						<span class="time">7:30am</span>
					</div>

				</div>
				<!-- end of scroll -->

			</div>

			<div class="message-box hidden">
				<textarea class="" name="message" placeholder="Type something..."></textarea>
				<span class="glyphicon glyphicon-send"></span>
			</div>
			<!-- end of message-box -->

			<div class="console">
				<textarea readonly></textarea>
			</div>
			<!-- end of console -->

		</aside>
		<!-- end of chat-session -->

	</main>


	<!-- editor-js -->
	<script src="dist/js/editor/jquery-3.2.0.min.js"></script>
	<script src="dist/js/editor/lib/codemirror.js"></script>
	<script src="dist/js/editor/lib/searchcursor.js"></script>
	<script src="dist/js/editor/lib/search.js"></script>
	<script src="dist/js/editor/lib/dialog.js"></script>
	<script src="dist/js/editor/lib/matchbrackets.js"></script>
	<script src="dist/js/editor/lib/closebrackets.js"></script>
	<script src="dist/js/editor/lib/comment.js"></script>
	<script src="dist/js/editor/lib/hardwrap.js"></script>
	<script src="dist/js/editor/lib/foldcode.js"></script>
	<script src="dist/js/editor/lib/brace-fold.js"></script>
	<script src="dist/js/editor/lib/javascript.js"></script>
	<script src="dist/js/editor/lib/sublime.js"></script>

	<!-- <script src="dist/js/editor/extensions/editor.js"></script> -->

	<script src="bundle.js"></script>
</body>

</html>