 <div class="row">
    <div class="col-md-12 col-sm-12">


       <div class="col-md-8 col-sm-6 ">
           {{!--left-side-control" style="margin-top: 3%;"--}}
           {{!--<h2 class="" style="font-family: Tahoma, Geneva, Verdana, sans-serif; font: 25px bold; margin-bottom: 5px;">New Session</h2>
            <hr>
                <div class="col-md-11 form-group">
                    <label class="control-label">Title</label>
                    <input type="text" class="form-control" id="firstname" placeholder="Enter Session Title">
                </div>
                <br>
            
                <div class="col-md-11 form-group">
                    <label class="control-label">Urlcode</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Enter Urlcode" >           
                </div>

                <div class="col-md-12 form-group">
                    <button  class="btn btn-default btn-md">Create</button>
                </div>
                <br>
                <span  class="col-md-12 center status">{{information}}</span> --}}
        </div>


        <div class="col-md-4 col-sm-6 right-side-control" style="margin-top: 6%;">
                <h2 class="" style="font-family: Tahoma, Geneva, Verdana, sans-serif; font: 25px bold; margin-bottom: 5px;">Create or Open Session </h2>
                <hr>

                <div class="col-md-11 form-group">
                    <label class="control-label">Session Keyword</label>
                    <input type="text" class="form-control" id="session-keyword" placeholder="Enter session keyword" required="required">
                </div>
                <br>
                
                <div class="col-md-12 form-group">
                    <button id="open-session" class="btn btn-info btn-md">Open</button>
                    <label>or</label>
                    <button id="create-session"  class="btn btn-primary btn-md">Create</button>
                </div>

                <div class="col-md-12 form-group">
                    <p>Or <a href="/chat" style="padding-left: 6px; padding-right: 6px;"><i>Goto</i></a>General Chat Room</p>
                </div>

                <br>
                <span id="home-status" class="col-md-12 center status {{state}}">{{message}}</span>                
        </div>
       </div>
</div>
{{!--col-md-offset-5 col-sm-offset-4 col-xs-offset-3 col-md-4 col-sm-6 col-xs-8--}}