
<section class="center">
    <div class="col-md-10">
        <table border="1">
            <tr> <th>Username</th> <th>Invite</th> </tr>

           <tr> <td>Moses</td> <td><a href="#">invite</a></td> </tr>
        </table>
    </div>
</section>