/** {
    padding: 0;
    margin: 0;
}*/


/*body {
    width: 100%;
    border: 1px solid red;
    font-family: 'Segoe UI';
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
}*/

.big-wrapper {
    width: 800px;
    height: 100%;
    border: 1px solid gray;
}

.header {
    width: 100%;
    background-color: #4B4B4B;
    border-radius: 40px;
    /*padding-left: 5%;
    padding-right: 5%;*/
    /*font-family: 'Segoe UI';
    /*font-size: 20px;
    font-weight: bold;
    */
}

.header h2 {
    color: #fff;
    font-weight: bold;
}

.header>a {
    font-size: 5;
}

.nav-hover:hover,
.nav-hover:focus,
.nav-hover:active {
    width: auto;
    height: auto;
    color: black;
    background-color: white;
    text-decoration: none;
}


/*.nav-padding {
    padding: 12px 12px 12px 12px;
}

.l-nav-margin {
    padding-left: 25px;
}

.r-nav-margin {
    padding-right: 25px;
}*/


/*not important*/

.font {
    font-family: 'Segoe UI';
    font-size: 20px;
    font-weight: bold;
}


/*heading*/

.menu {
    font-family: 'Segoe UI';
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
}

.menu li a:hover {
    color: white;
}


/*main body*/

.main {
    width: auto;
    height: 500px;
    border: 1px solid blue;
}


/*group box*/

.group-box {
    width: auto;
    height: auto;
    font: 20px normal;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
}


/*.header-label {
    font: 22px bold;
}*/


/*div a,
li a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
}

div a:hover,
li a:hover {
    text-decoration: none;
}*/


/*footer*/

.footer {
    width: auto;
    height: auto;
    border: 1px solid green;
    background-color: black;
    font: 20px;
    color: white;
    padding: 10px;
}


/*input*/


/*input {
    width: auto;
    margin: 5px;
    border: 1px solid lightblue;
    border-radius: 2px;
    height: 35px;
}*/


/*label*/


/*
label {
    margin: 5px;
}*/


/*div {
    padding: 2px 2px 2px 2px;
}*/

.button {
    width: auto;
    height: auto;
    font: 18px bold;
    border-radius: 3px;
    padding: 8px 8px 8px 8px;
}

.button-primary {
    color: white;
    background-color: cornflowerblue;
    border: 0.5px solid cornflowerblue;
}

.button-primary:hover {
    padding: 8px 8px 8px 8px;
    color: lightgray;
    background-color: royalblue;
}

.button-danger {
    color: white;
    background-color: red;
    border: 0.5px solid red;
}

.button-danger:hover {
    padding: 8px 8px 8px 8px;
    color: lightgray;
    background-color: lightcoral;
}

.button-ready {
    color: white;
    background-color: green;
    border: 0.5px solid green;
}

.button-ready:hover {
    padding: 8px 8px 8px 8px;
    color: green;
    background-color: lightgreen;
}

.button-warning {
    color: white;
    background-color: orangered;
    border: 0.5px solid orangered;
}

.button-warning:hover {
    padding: 8px 8px 8px 8px;
    color: lightgray;
    background-color: lightsalmon;
}

.button-default {
    color: white;
    background-color: gray;
    border: 0.5px solid grey;
}

.button-default:hover {
    padding: 8px 8px 8px 8px;
    color: black;
    background-color: lightgray;
}


/*.small-padding {
    padding: 4px 4px 4px 4px;
}

.medium-padding {
    padding: 8px 8px 8px 8px;
}

.large-padding {
    padding: 12px 12px 12px 12px;
}

.small-marging {
    margin: 4px 4px 4px 4px;
}

.medium-margin {
    margin: 8px 8px 8px 8px;
}

.large-margin {
    margin: 12px 12px 12px 12px;
}

.v-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h-margin {
    margin-left: 10px;
    margin-right: 10px;
}

.v-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.h-padding {
    padding-left: 10px;
    padding-right: 10px;
}

.l-margin {
    margin-left: 10px;
}

.l-padding {
    padding-left: 10px;
}

.r-margin {
    margin-left: 10px;
}

.r-padding {
    padding-left: 10px;
}

.t-margin {
    margin-left: 10px;
}

.t-padding {
    padding-left: 10px;
}

.b-margin {
    margin-left: 10px;
}

.b-padding {
    padding-left: 10px;
}*/

textarea {
    width: 98%;
    height: 95%;
    padding: 4px;
    border: 1px solid gray;
    overflow: auto;
    border-radius: 4px;
    margin-left: 1%;
}

.horizontal {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
}

.vertical {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}

.inline {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: inline-axis;
    -moz-box-orient: inline-axis;
}

.block {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: block-axis;
    -moz-box-orient: block-axis;
}

.center {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
}

.status {
    padding: 2px 2px 2px 2px;
    background-color: #fff;
    border-radius: 50%;
    color: black;
}

.success {
    color: green;
    background-color: #D4FFD4;
    border: 1px solid green;
}

.failure {
    color: red;
    background-color: #FFD4FF;
    border: 1px solid red;
}

.justify {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
}

.fixed {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 10;
}


/*current project exclusive*/

.padding {
    padding: 7%;
}


/*chat route*/

.right-side-control {
    /*padding-top: 30px;*/
    color: white;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #1E1E1E;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.left-side-control {
    color: white;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #1E1E1E;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.message-list {
    max-width: inherit;
    max-width: inherit;
    height: 460px;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid gray;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    background-color: #002B36;
}

.message-list div {
    max-width: inherit;
    word-break: keep-all;
    padding: 2px;
    background-color: #19404A;
    list-style-type: none;
    border-radius: 2px;
    margin-bottom: 5px;
}

.message-list #username {
    font-weight: bold;
    color: #619798;
}

.message-list #message {
    color: white;
    overflow-wrap: normal;
}

.btn-color {
    background-color: black;
}


/*.message-form {
    width: inherit;
    margin-top: 5px;
}*/


/*#editor {
    max-width: 100%;
    border: 1px solid grey;
    overflow: auto;
    overflow-x: hidden;
}

#editor div {
    max-width: 100%;
    word-break: keep-all;
    overflow-x: hidden;
}*/


/*.chat-session {
    width: 1000px;
}

#content {
    visibility: hidden;
}

.session {
    width: 650px;
    margin: 10px 10px 10px 10px;
}

.chat {
    width: 500px;
    margin: 10px 10px 10px 10px;
}*/


/*
#editor {
    margin: 0;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95%;
}*/