<div class="row">
    <div class="col-md-12" style="margin-top: 3%;">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4 right-side-control">
            <br>
            <h2 class="" style="font-family: Tahoma; font: 25px bold; margin-bottom: 15px;">Login</h2>
            <hr>
            <form class="" role="form" method="" action="">
                <div class="col-md-12 form-group">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter Username" required="required">
                </div>
                <br>

                <div class="col-md-12 form-group">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter Password" required="required">
                </div>
                <br>

                <div class="col-md-12 form-group">
                    <div class="checkbox">
                        <label class="control-label">
                                    <input id="remember" type="checkbox"> Remember me
                                </label>
                    </div>
                </div>
                <br>

                <div class="col-md-12 form-group">
                    <button id="signin-button" type="submit" class="btn btn-default btn-md">Sign in</button>
                    <a href="/register" style="margin-left: 5px;" class="btn btn-primary btn-md">Create Account</a>
                </div>
                <span id="login-status" class="col-md-12 center status {{state}}">{{message}}</span>
            </form>
        </div>
        <br>
    </div>
</div>
{{!--col-md-offset-5 col-sm-offset-4 col-xs-offset-3 col-md-4 col-sm-6 col-xs-8--}}